# IPO Excitement

In this activity, youâ€™ll read financial data from a CSV file into a DataFrame and declare a `DatetimeIndex`.

Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the IPO Date column as the index.

3. Use the `head` function to view the first five rows of the DataFrame.

4. Use the `tail` function to view the last five rows of the DataFrame.


References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

[Pandas head function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

[Pandas tail function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [1]:
import pandas as pd
from pathlib import Path

## Step 2: Use `Path` with the `read_csv` function to read the CSV file into the DataFrame. Use the `index_col`, `parse_dates`, and `infer_datetime_format` parameters to set the IPO Date column as the index.

In [2]:
# Read in the CSV file called `IPO_data.csv`using the Path module
# The CSV file is located in the Resources folder
# Set the index to the column "IPO Date"
# Set the parse_dates and infer_datetime_format parameters

ipo_df0 = pd.read_csv(Path('03_IPO_Excitement/Resources/IPO_data.csv'))
ipo_df0.head()

   Trade Date    IPO Date Stock Ticker  First Week Stock Return
0  2020-01-17  2020-01-17          OIK                 0.013324
1  2020-01-17  2020-01-17          OCE                -0.016676
2  2020-01-17  2020-01-17          GMX                 0.273324
3  2020-01-17  2020-01-17          BZB                -0.106676
4  2020-01-30  2020-01-30          OSL                 0.993324

In [3]:
ipo_df = pd.read_csv(Path('03_IPO_Excitement/Resources/IPO_data.csv'),
                    index_col = 'IPO Date',
                    parse_dates = True,
                    infer_datetime_format = True)
ipo_df.head()

/var/folders/s9/ml6qrgdx03zdn76qyj8422mh0000gn/T/ipykernel_1580/820344693.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ipo_df = pd.read_csv(Path('03_IPO_Excitement/Resources/IPO_data.csv'),

            Trade Date Stock Ticker  First Week Stock Return
IPO Date
2020-01-17  2020-01-17          OIK                 0.013324
2020-01-17  2020-01-17          OCE                -0.016676
2020-01-17  2020-01-17          GMX                 0.273324
2020-01-17  2020-01-17          BZB                -0.106676
2020-01-30  2020-01-30          OSL                 0.993324

## Step 4: Use the `tail` function to view the last five rows of the DataFrame.

In [4]:
ipo_df.tail()

            Trade Date Stock Ticker  First Week Stock Return
IPO Date
2020-09-17  2020-09-17          KMQ                -0.216676
2020-09-18  2020-09-18          UUL                -0.056676
2020-09-18  2020-09-18          AMD                 0.593324
2020-09-18  2020-09-18          BHR                 0.363324
2020-09-18  2020-09-18          AJH                 0.083324

In [5]:
ipo_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 113 entries, 2020-01-17 to 2020-09-18
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Trade Date               113 non-null    object
 1   Stock Ticker             113 non-null    object
 2   First Week Stock Return  113 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.5+ KB

In [6]:
ipo_df.describe()

       First Week Stock Return
count               113.000000
mean                  0.475714
std                   0.588552
min                  -0.286676
25%                   0.063324
50%                   0.323324
75%                   0.663324
max                   3.213324